ion-card {
  border-top: 3px solid black;
  --background: white;
}

#content {
  --background: url('/../../../assets/img/orders.png') center center;
}

.row-label {
  text-align: center;
  width: 100%;
}
