<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Mis órdenes</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content padding id="content">
  
      <ion-card *ngIf="pastOrders.length < 1" justify-content-center align-items-center style="height: 50%"
        class="ion-text-center">
        <ion-card-header style="margin-top: 50px;">
          <ion-icon size="large" name="today"></ion-icon>
          <ion-card-subtitle style="font-size: 20px;"> No tienes órdenes pasadas</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card *ngFor="let item of pastOrders">
        <!-- <img src="./madison.jpg" /> -->
        <ion-card-header>
          <ion-card-subtitle>Fecha</ion-card-subtitle>
          <ion-card-title>{{ item.order.datetime.toDate() | date:'yyyy/MM/dd HH:mm' }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>

              <ion-grid>
                <ion-row>
                    <ul>
                        <li *ngFor="let prod of item.order.products">
                          {{prod.count}} X {{ prod.product.product_name }}
                        </li>
                      </ul>
                </ion-row>
                <ion-row>
                  <ion-button class="row-label" (click)="getHelpClicked(item)" color="dark">Obtener ayuda</ion-button><br/>
                </ion-row>
                <ion-row>
                  <ion-item *ngIf="item.order.status === 'Completado'" class="row-label">
                    <ion-icon size="large" color="success" name="checkmark"></ion-icon>
                    <span class="text"> Servicio Completado</span>
                  </ion-item>

                  <ion-item *ngIf="item.order.status === 'Cancelado por cliente'" class="row-label">
                    <ion-icon color="danger" name="close-circle"></ion-icon>
                    <span class="text"> Cancelado</span>
                  </ion-item>
                </ion-row>
              </ion-grid>
  
        </ion-card-content>
      </ion-card>
  
    </ion-content>
