<div class="bubble">
  <ion-list>

    <ion-item>Califica tu servicio:</ion-item>
    <ion-item>

      <div class="rating">
        <ion-button (click)="starClicked(1)" icon-only fill="clear">
          <ion-icon color="warning" name="star-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="starClicked(2)" icon-only fill="clear">
          <ion-icon color="warning" name="star-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="starClicked(3)" icon-only fill="clear">
          <ion-icon color="warning" name="star-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="starClicked(4)" icon-only fill="clear">
          <ion-icon color="warning"  name="star-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="starClicked(5)" icon-only fill="clear">
          <ion-icon color="warning" name="star-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-item>

  </ion-list>
</div>