<ion-menu side="start" menuId="first">
  <nav id="sidebar">
    <div class="sidebar-header">
      <img alt="logo" id="header_logo"
        src="assets/img/b2g-circular.png">
      <ion-button *ngIf="authService.isLoggedIn" class="sideBarButtons" (click)="logoutClicked()" style="padding: 15px; height: 65px;" color="dark">Cerrar sesión</ion-button>
      <ion-button *ngIf="!authService.isLoggedIn" class="sideBarButtons" (click)="navigateToLogin()" style="padding: 15px; height: 65px;" color="dark">Log in</ion-button>
      <ion-button class="sideBarButtons" href="http://beautytogo.mx/aviso-de-privacidad-app/" style="padding: 15px; height: 65px;" color="dark">Privacidad</ion-button>
      <ion-button class="sideBarButtons" href="http://beautytogo.mx/terminos-y-condiciones-del-servicio/" style="padding: 15px; height: 65px;" color="dark">Términos y condiciones</ion-button>
    </div>
  </nav>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding id="content">
    <div class="center-div">
      <img id="main-logo" src="assets/img/b2g-horizontal.png">
    </div>

    <div class="button-holder">
      <ion-toolbar *ngIf="true" class="button-toolbar">
        <div class="center-div">
          <ion-button color="dark" (click)="navigateToCategories()" class="rounded-button">¡Agenda tu cita!</ion-button>
        </div>
      </ion-toolbar>

      <ion-toolbar class="button-toolbar">
        <div class="center-div">
          <ion-button *ngIf="this.authService.isLoggedIn" (click)="navigateToOrders()" color="dark" class="rounded-button">Ver mis citas</ion-button>
        </div>
      </ion-toolbar>
    </div>

  </ion-content>
</div>
